/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .main-container {
    
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0071bc;
    width: 100%;
    height: 80px;
  }
  .Logo-search-area {
    
    background-color: #f4f4f4;
    height: 100px;
    padding: 80px;

  }
  .logo {
    max-height: 50px;
  }
  a {
    color: #0071bc;
  }
  .app-title {
    margin: 0;
  }
  
  .login-button {
    padding: 8px 16px;
    background-color: #0071bc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-style: solid;
    border-width:1px ;
  }
  
  .company-logo-image {
    max-width: 100%;
    width: 16.5rem;
    height: 4.5rem;
    margin: 0 auto;
  }
  
  .search-bar {
    display: flex;
    margin-bottom: 20px;

  }
  .company-logo {
    display: block;
    width: 16.5rem;
    height: 4.5rem;
    margin: 0 auto;


  }

  
  .search-input {
    flex-grow: 1;
    padding: 8px;
  }
  
  .search-button {
    padding: 8px 16px;
    background-color: #0071bc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .search-results {
    display: flex;
    justify-content: space-around;
    padding: 40px;
  }
  
  .filter-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .result-count,
  .page-number {
    margin: 0;
  }
  
  .results {
    /* Add styles for the result items here */
  }
  
  .result-item {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    
  }
  
  .result-title {
    font-size: 18px;
    font-weight: bold;
    color: cornflowerblue;
    text-decoration: none;
    margin-bottom: 5px;
    display: block;
  }
  
  .result-summary {
    color: #666;
  }

  .border {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


  }
  .resource{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  li {
    margin: 10px;
  }
  .social-section {
    background-color: #0071bc;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 40px;

  }
  .contact {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

  .footer {
    background-color: #0071bc;
    display: flex;
    flex-direction: column;
    color: #fff;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    color: white;

  }
  .white {
    color: #fff;
  }
  